# fly.toml file generated for mortybot on 2023-02-25T16:14:40+01:00

app = "mortybot"
kill_signal = "SIGINT"
kill_timeout = 5
processes = []

[env]
  DATA_PATH="./data"
  MESSAGE_TIMEOUT_ENABLED=true
  MESSAGE_TIMEOUT_IN_MINUTES=2
  DEBUG="*"

[mounts]
  source="mortybot_data"
  destination="/app/data"

[experimental]
  auto_rollback = true
