name: Build, Test, Coverage, Docker and Fly Deploy
on:
  push:
    branches:
      - main

env:
  FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Deno v1.x
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Cache dependencies 
        run: deno cache deno.json

      - name: Lint
        run: deno lint

      - name: Test
        run: deno test --allow-none

      - name: Coverage 
        uses: codecov/codecov-action@v3

      - name: Docker Build
        uses: docker/build-push-action@v4
        with:
          push: false 

      - name: Setup Fly
        uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Deploy
        run: flyctl deploy --remote-only
